
  <%=  form_for @user, class: 'form-signin' do |f| %>
  <div class="field">
    <%= f.label :email,class: 'col-sm-4 control-label' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'col-sm-3 form-control' %>
  </div>

  <div class="field">
    <%= f.label :password,class: 'col-sm-4 control-label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: 'col-sm-3 form-control' %>
  </div>

  <div class="field">
      <%= f.label :password_confirmation,class: 'col-sm-4 control-label' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",class: 'col-sm-3 form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "submit" %>
  </div>
<% end %>
