<h1 style="margin-left: 20px;">Хэрэглэгчдийн жагсаалт</h1>
<div style="float: right; padding-right: 20px; margin:10px;">
<%= link_to 'Хэрэглэгч нэмэх', new_user_path, class: 'btn btn-primary'   %>
<%= link_to "Log out", destroy_user_session_path, method: :delete,class: 'btn btn-primary' %>
</div>

<table class="table table-striped ">
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Created_at</th>
    <th colspan="3"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<div style="margin-left: 10px;"><%= paginate @users %> </div>
