<h1>Шинэ хэрэглэгч:</h1>
<%= form_with model: User.new, local: true do |form| %> 
 <div class="mx-auto">
    <div>
      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <%= form.submit 'нэмэх' %>
  </div>
<% end %>
    <!-- # яагаад гэвэл формын элементийг дуудаад form.textfield гэвэл input type='text' гэсэн үг. -->
    <!-- # харин :password гэдэг нь моделийн аттрибут, өгөгдлийн сангийн баганын нэр нь гэсэн үг.  -->
<!-- 
  '' энэ хаалт нь ер нь бол дажгүй шүү ххах
  "" энийгээ болохоор html  -->
